name: Fix Issue

on:
  pull_request:
    branches:
      - main
jobs:
  check-compliance:
    runs-on: ubuntu-18.04
    steps:
      - uses: deepakputhraya/action-pr-title@master
        with:
          regex: '(\\[HUDI\-[0-9]{4,}\\]|\\[MINOR\\])'
#        run: |
#         [ ${{ github.event.pull_request.title }} = "third try [HUDI-1234]"]
#[[ ${{ github.event.pull_request.title }} =~ (\\[HUDI\-[0-9]{4,}\\]|\\[MINOR\\]) ]] && echo it works
            
      
                                                                
                                                                             
