name: Fix Issue

on:
  pull_request:
    branches:
      - main
jobs:
  check-title:
    runs-on: ubuntu-latest
    steps:
      - uses: deepakputhraya/action-pr-title@master
        with:
          regex: '(\[HUDI\-[0-9]{4,}\]|\[MINOR\])'
  check-template:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: jannekem/run-python-script-action@v1
        id: script
        with:
          fail-on-error: false
          script: |
            import os
            print(os.getenv('REQUEST_BODY'))
            a = []
            a[10]
            
      - name: Print errors
        if: steps.script.outputs.error == 'true'
        run: |
          printenv "SCRIPT_STDOUT"
          printenv "SCRIPT_STDERR"
        env:
          SCRIPT_STDOUT: ${{ steps.script.outputs.stdout }}
          SCRIPT_STDERR: ${{ steps.script.outputs.stderr }} 
          REQUEST_BODY: ${{ github.event.pull_request.body }}



#         [ ${{ github.event.pull_request.title }} = "third try [HUDI-1234]"]
#[[ ${{ github.event.pull_request.title }} =~ (\\[HUDI\-[0-9]{4,}\\]|\\[MINOR\\]) ]] && echo it works
            
      
                                                                
                                                                             
