name: Fix Issue

on:
  pull_request:
    branches:
      - main
jobs:
  check-compliance:
    runs-on: ubuntu-latest
    steps:
      - name: Check Title
        id: check-title
        run: |
          echo ${{ github.event.pull_request.title }} 
          [[ ${{ github.event.pull_request.title }} =~ (\\[HUDI\-[0-9]{4,}\\]|\\[MINOR\\]) ]] && echo it works
            
      
                                                                
                                                                             
